@page
@model CIDM_3312_Final_Project.Pages.Characters.AddStatsModel

@{
    ViewData["Title"] = "Add Stats";
}

<h1>Create</h1>

<h4>New Stats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Stats.StatsId" class="control-label"></label>
                <select asp-for="Stats.StatsId" asp-items="Model.StatsDropDown" class="form-control">
                    <option value="">--Select Stat--</option>
                </select>
                <span asp-validation-for="Stats.StatsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stats.Stats_Number" class="control-label"></label>
                <input asp-for="Stats.Stats_Number" class="form-control" />
                <span asp-validation-for="Stats.Stats_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Stats" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
